@use '../../styles/mixins' as *;

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: var(--z-grain);
  opacity: 0.03;
  mix-blend-mode: overlay;

  @include md {
    display: block;
  }
}

.texture {
  width: 100%;
  height: 100%;
}
